.h5 {
    margin-bottom: 60px;
    margin-top: 10px;
}

.Card-Img {
    height: 256px;
    border-radius: 16px;
    box-shadow: 8px 16px 32px -8px;
    width: 75%;
    margin: -50px 50px 0 50px;

}
.card
{
    margin-top: 100px;
    box-shadow: 4px 8px 16px -4px;
}
 .card p 
{
    font-weight: 500;
    line-height: 1.6em;
    font-size: 20px;
}
.Star
{
    display: flex;
    flex-direction: row-reverse;
   
}
.Star i{
color: crimson;

}