.Appointment
{
    box-shadow: 5px 5px 5px black;
   margin: auto;
}
.home_card
{
    display: flex;
    justify-content: center;
    margin-top: 0;
    
   
}
.home_card span
{
    
    height: 90px;
    padding: 0px 20px 0px 20px;
    font-size: 50px;
    box-shadow: 2px 2px 5px black;
    border-radius: 50%;

    
    
}
.home_card:hover span
{
    background-color: aqua;
}
.home_card:hover h4
{
    color: aqua;
}
.home_card div{
    margin-left: 50px;
}